{% extends "_base.html" %}

{% block title %} List {% endblock %}

{% block content %}
<table class="table table-striped">
    <caption>{{ session['login_name'] }}'s videos</caption>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">ID</th>
            <th scope="col">Time</th>
            <th scope="col">Subtitle</th>
            <th scope="col">Status</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        {% for video in videos %}
        <tr>
            <td>
                <video width="320" height="240" controls poster="{{ video.save_path.replace('/app/static/', url_for('static', filename='', _external=True)).replace('.mp4', '.webp') | static_path }}">
                    <source src="{{ video.save_path.replace('/app/static/', url_for('static', filename='', _external=True)).replace('.mp4', '.with_srt.mp4') | static_path }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h6>{{ video.title }}</h6>
            </td>
            <td>{{ video.origin_id }}</td>
            <td>{{ video.created }}</td>
            <td>{{ video.subtitle_lang }}</td>
            <td>{{ video.status }}</td>
            <td>
                <form action="{{ url_for('upload') }}" method="post">
                  <input name="video_id" type="hidden" value="{{video.id}}" />
                  <button type="submit" class="btn btn-primary">upload</button>
                </form>
                <form action="{{ url_for('delete', video_id=video.id) }}" method="get">
                  <button type="submit" class="btn btn-secondary">delete</button>
                </form>
                <form action="{{ url_for('download', url=video.origin_url) }}" method="post">
                  <button type="submit" class="btn btn-secondary">retry</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
