{% extends "_base.html" %}

{% block title %} List {% endblock %}

{% block content %}
<table class="table table-striped">
    <caption>{{ session['login_name'] }}'s videos</caption>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">ID</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        {% for video in videos %}
        <tr>
            <td><a href="{{ video.save_path }}">{{ video.title }}</a></td>
            <td>{{ video.origin_id }}</td>
            <td>{{ video.created }}</td>
            <td>{{ video.status }}</td>
            <td>
                {% if video.status == VideoStatus.DOWNLOADED %}
                <form action="{{ url_for('upload') }}" method="post">
                  <input name="video_id" type="hidden" value="{{video.id}}" />
                  <button type="button" class="btn btn-primary">upload</button>
                </form>
                {% endif %}
                <form action="{{ url_for('delete', video_id=video.id) }}" method="get">
                  <button type="submit" class="btn btn-secondary">delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
